body {
  background: rgb(88,154,252);
  background: linear-gradient(125deg, rgba(88,154,252,1) 13%, rgba(96,88,252,1) 60%);
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}


.fbox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #000000;
}

.tool-panel {
  display: flex;
  flex-direction: column;
  background: rgb(133,182,255);
  background: linear-gradient(125deg, rgba(133,182,255,1) 0%, rgba(88,152,252,1) 100%);
  border-radius: 8px;
  padding: 1rem;
}


canvas {
  border: 1px solid #ccc;
  background-color: white;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-picker {
  margin-right: 10px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}
#eraser {
  transform:scale(2)
}
#grid-toggle {
  transform:scale(2);
  display: flex
}
#color-picker {
  cursor: pointer;
  display: flex;
  width: 200px;
  height: 32px;
  border: none;
  background-color: #00000000;
  border-radius: 1px;
}
#clear-button {
  margin-top: 10px;
}
#fill-button {
  margin-top: 10px;
}
#save-button {
  margin-top: 5px;
}
#save-preset {
  margin-top: 5px;
}
#file-input {
  margin-top: 5px;
}
#load-preset {
  margin-top: 5px;
}

button {
  border-radius: 4px;
  border-style: none;
  padding: .5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #bababa;
}
